:root {
    --tomato: hsl(4, 100%, 58%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--charcoal-grey);
    min-height: 100vh;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.sign-up {
    display: flex;
    background-color: var(--white);
    width: 750px;
    height: 500px;
    padding: 20px;
    border-radius: 25px;
    opacity: 1;
    transition: all ease 1s;
}

.form {
    padding: 25px;
    margin-right: 20px;
}

.form h1 {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form ul {
    margin-top: 20px;
    margin-bottom: 25px;
}

.form ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form ul li .icon-list {
    margin-right: 13px;
    height: 15px;
    user-select: none;
}

.form .input-message {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.form .input-message p {
    color: #ff4141;
}

.form input {
    margin-top: 5px;
    margin-bottom: 20px;
    border: solid 1px var(--grey);
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    padding: 20px;
}

.form .error-input {
    background-color: #ffd4d4;
    border: solid 1px #ff0000;
    color: #ff0000;
}

.form .subscribe-btn, .dismiss-btn {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    color: var(--white);
    cursor: pointer;
    background: linear-gradient(120deg, var(--dark-slate-grey), var(--dark-slate-grey));
}

.form .subscribe-btn:hover, .dismiss-btn:hover {
    background: linear-gradient(120deg, hsl(340, 100%, 61%), var(--tomato));
    box-shadow: 0px 10px 20px hsla(340, 100%, 61%, 0.658);
}

.form h1, .form .input-message, .form .subscribe-btn, .success-message h2, .success-message span, .dismiss-btn {
    font-family: 'Roboto-Bold';
}

.illustration img {
    user-select: none;
    height: 100%;
}

.success-message {
    opacity: 0;
    position: absolute;
    background-color: var(--white);
    width: 400px;
    height: 400px;
    border-radius: 25px;
    padding: 50px;
    transform: translateX(800px);
    transition: all ease 1s;
    pointer-events: none;
}

.success-message img {
    height: 45px;
    margin-bottom: 20px;
    user-select: none;
}

.success-message h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.success-message p {
    font-size: 13px;
    margin-bottom: 30px;
}

.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.disable {
    opacity: 0;
    pointer-events: none;
}

footer {
    position: absolute;
    bottom: 15px;
    color: var(--white);
}

footer a {
    color: var(--tomato)
}